* {
    user-select: auto !important;
}

.ext-setting {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    z-index: 99999999;
    background: rgba(101, 101, 101, .9);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' class='w-6 h-6' style='width: 30px;height: 30px'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z' /%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z' /%3E%3C/svg%3E%0A");
    background-size: 40px;
    background-repeat: space;
    background-position: center;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    scale: .7;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-description {
    -webkit-transform: translateX(81px);
    -ms-transform: translateX(81px);
    transform: translateX(81px);
    font-size: 142%;
    white-space: nowrap;
    position: absolute;
}

section.title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 18px;
}

.ext-modal.ext-modal-hide {
    display: none;
}

.ext-modal {
    display: flex;
}

.ext-mode.ext-warn-mode {
    overflow-y: auto;
}

.ext-mode-modal {
    z-index: 9999;
    background: #fff;
    padding: 10px;
    width: 50vw;
    max-width: 450px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.close {
    float: right;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18L18 6M6 6l12 12' /%3E%3C/svg%3E%0A");
    text-align: right;
    position: sticky;
    right: 5px;
    top: 0;
    flex: none;
}

.ext-mode {
    display: flex;
    align-items: flex-start;
    align-content: space-around;
    flex-direction: column;
}

label.switch {
    margin: auto 0;
}

.ext-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .4);
    backdrop-filter: blur(2px);
}

[pgo-ext-active-btn] {
    border: 5px solid #4285f4 !important;
    border-radius: 5px;
}

.ext-modal-warn, .ext-modal-text {
    padding: 5px 10px;
    font-size: 120%;
}

pre.warning {
    margin-top: 10px;
}

.ext-mode-modal li {
    line-height: 1.5;
}